In [2]:
import pandas as pd
import numpy as np
import random   # similar to from numpy.random import randn

In [3]:
a = randn(8)
a

NameError: name 'randn' is not defined

In [2]:
obj = pd.Series([4, 5, 6,8])
obj

0    4
1    5
2    6
3    8
dtype: int64

In [3]:
obj.values

array([4, 5, 6, 8], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ob2 = pd.Series([4,6,7,4], index=['a','b','c','d'])
ob2

a    4
b    6
c    7
d    4
dtype: int64

In [6]:
ob3 = pd.Series([4,6,7,4], index=[0,1,2,4])
ob3

0    4
1    6
2    7
4    4
dtype: int64

In [7]:
ob2['c']

7

In [8]:
ob2['c':'d']

c    7
d    4
dtype: int64

In [9]:
ob2['c':]

c    7
d    4
dtype: int64

In [10]:
ob2['a':]

a    4
b    6
c    7
d    4
dtype: int64

In [11]:
ob2['b':]

b    6
c    7
d    4
dtype: int64

In [ ]:
ob2[:'d']

In [ ]:
ob2[:'b']

In [ ]:
ob2['a'],ob2['c']

In [ ]:
ob2[['a','c']]

In [ ]:
ob2[ob2 > 4]

In [ ]:
mult = ob2[ob2 > 4]**2
mult

In [ ]:
np.exp(ob2)

In [ ]:
capital = {'Kenya' : 'Nairobi', 'Uganda':'Kampala','Tanzania':'Dododoma','Ethiopea':'Addis'}
cap = pd.Series(capital)
cap

In [ ]:
capit = ['Nairobi','Kampala','Dododoma','addis']
country = ['Kenya','Uganda','Tanzania','Ethiopea']
Caps =pd.Series(capit, index=country)
Caps

In [ ]:
pd.isnull(Caps).sum()

In [ ]:
pd.notnull(Caps).sum()

In [ ]:
cap['Kenya']

In [ ]:
cap[['Kenya','Ethiopea']]  #Picking only values for kEnya and ethipea

In [ ]:
cap['Kenya':'Ethiopea']

In [ ]:
cap['Uganda':]

In [ ]:
cap[:'Tanzania']

# Dataframes

In [14]:
#Creating a dataframe from dictionary with equal number of keys
data = {'counties':['Siaya','Siaya','Kisii','Kisii','Mombasa','Mombasa'],
       'Year':[2000,2001,2000,20001,2000,2001],
       'Population':[65000,85768,54600,58000,34500,45000]}
myFrame = pd.DataFrame(data)
myFrame

  counties   Year  Population
0    Siaya   2000       65000
1    Siaya   2001       85768
2    Kisii   2000       54600
3    Kisii  20001       58000
4  Mombasa   2000       34500
5  Mombasa   2001       45000

In [15]:
myFrame.iloc[3]

counties      Kisii
Year          20001
Population    58000
Name: 3, dtype: object

In [16]:
Frame2 = pd.DataFrame(data, columns=['counties','Population','Year'],index=['a','b','c','d','e','f'])
Frame2

  counties  Population   Year
a    Siaya       65000   2000
b    Siaya       85768   2001
c    Kisii       54600   2000
d    Kisii       58000  20001
e  Mombasa       34500   2000
f  Mombasa       45000   2001

In [17]:
print(Frame2.columns)

Index(['counties', 'Population', 'Year'], dtype='object')

In [17]:
Frame2['Population'] #Retrieving a single column

a    65000
b    85768
c    54600
d    58000
e    34500
f    45000
Name: Population, dtype: int64

In [18]:
Frame2[['Population','counties']] #retrieving two columns and above , you must supply double square brackets

   Population counties
a       65000    Siaya
b       85768    Siaya
c       54600    Kisii
d       58000    Kisii
e       34500  Mombasa
f       45000  Mombasa

In [19]:
#Retrieving rows
Frame2.loc['b']

counties      Siaya
Population    85768
Year           2001
Name: b, dtype: object

In [20]:
Frame2['size'] = 17.5 #Assigning a value to the empty column
Frame2

  counties  Population   Year  size
a    Siaya       65000   2000  17.5
b    Siaya       85768   2001  17.5
c    Kisii       54600   2000  17.5
d    Kisii       58000  20001  17.5
e  Mombasa       34500   2000  17.5
f  Mombasa       45000   2001  17.5

In [21]:
Frame2['size'] = np.arange(6)
Frame2

  counties  Population   Year  size
a    Siaya       65000   2000     0
b    Siaya       85768   2001     1
c    Kisii       54600   2000     2
d    Kisii       58000  20001     3
e  Mombasa       34500   2000     4
f  Mombasa       45000   2001     5

In [22]:
val = pd.Series([-1.2,-1.5,-3.5], index=['b','d','e'])
Frame2['size'] = val
Frame2

  counties  Population   Year  size
a    Siaya       65000   2000   NaN
b    Siaya       85768   2001  -1.2
c    Kisii       54600   2000   NaN
d    Kisii       58000  20001  -1.5
e  Mombasa       34500   2000  -3.5
f  Mombasa       45000   2001   NaN

In [23]:
Frame2.isnull()

   counties  Population   Year   size
a     False       False  False   True
b     False       False  False  False
c     False       False  False   True
d     False       False  False  False
e     False       False  False  False
f     False       False  False   True

In [24]:
print(Frame2.isnull().sum())

counties      0
Population    0
Year          0
size          3
dtype: int64

In [27]:
#Frame2['eastern'] #= Frame2.counties == 'Siaya'
Frame2

  counties  Population   Year  size
a    Siaya       65000   2000   NaN
b    Siaya       85768   2001  -1.2
c    Kisii       54600   2000   NaN
d    Kisii       58000  20001  -1.5
e  Mombasa       34500   2000  -3.5
f  Mombasa       45000   2001   NaN

In [26]:
#del Frame2['eastern']   deleting a column
#Frame2

In [ ]:
#Frame2

In [6]:
#Nested dictionary of dict formart
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [7]:
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [8]:
frame3I = pd.DataFrame(pop, index=[2001, 2002, 2003])
frame3I

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [29]:
pd.DataFrame(pop, index=[2001, 2002, 2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [9]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

In [10]:
#Setting index and columns name and displaying them
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [11]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

In [18]:
Frame2.values

array([['Siaya', 65000, 2000],
       ['Siaya', 85768, 2001],
       ['Kisii', 54600, 2000],
       ['Kisii', 58000, 20001],
       ['Mombasa', 34500, 2000],
       ['Mombasa', 45000, 2001]], dtype=object)

In [20]:
"""pandas’s Index objects are responsible for holding the axis labels and other metadata
(like the axis name or names). Any array or other sequence of labels used when constructing 
a Series or DataFrame is internally converted to an Index:"""

obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [21]:
index[1:]

Index(['b', 'c'], dtype='object')

In [31]:
"""Index objects are immutable and thus can’t be modified by the user"""
#index[1] = 'd'

'Index objects are immutable and thus can’t be modified by the user'

In [33]:
"""Immutability is important so that Index objects can be safely shared among data
structures:"""
index = pd.Index(np.arange(3))
obj2 = pd.Series([1.5, -2.5, 0], index=index)
obj2.index is index

True

In [34]:
"""In addition to being array-like, an Index also functions as a fixed-size set:"""
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [26]:
'Ohio' in frame3.columns

True

In [27]:
2003 in frame3.index

False

# Essential functionality

In [4]:
obj3 = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj3

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [7]:
obj4 = obj3.reindex(['a', 'b', 'c', 'd', 'e'])
obj4

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [8]:
obj4.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [18]:
"""For ordered data like time series, it may be desirable to do some interpolation or filling
of values when reindexing. The method option allows us to do this, using a method such
as ffill which forward fills the values:
"""
obj5 = pd.Series(['blue', 'purple','yellow'], index=[0, 2, 4 ])
obj5.reindex(range(6), method='pad') #pad is same as ffill

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [23]:
"""With DataFrame, reindex can alter either the (row) index, columns, or both. When
passed just a sequence, the rows are reindexed in the result:"""

frameR = pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])
frameR

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [21]:
frameR2 = frameR.reindex(['a', 'b', 'c', 'd'])
frameR2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [25]:
#reindexing
states = ['Texas', 'Utah', 'California']
frameR.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [29]:
"""As we’ll explore in more detail, you can reindex more succinctly by label-indexing
with loc, and many users prefer to use it exclusively"""

frameR.loc[['a', 'b', 'c', 'd'], states]

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [27]:
"""As you’ll see soon, reindexing can be done more succinctly by label-indexing with ix:"""

#frameR.ix[['a', 'b', 'c', 'd'], states]

AttributeError: 'DataFrame' object has no attribute 'ix'