In [6]:
import pandas as pd
import numpy as np
#from sklearn.random import randn

readcsv1 = pd.read_csv("read.csv")
readcsv1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
#reading by read_table and specifying the delimeter
readCsv2 = pd.read_table('read.csv',sep=',' )
readCsv2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo