In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_squared_error


# Loading the Train and Test Sets
Training_data = pd.read_csv('Train_maskedv2.csv')
Testing_data = pd.read_csv('Test_maskedv2.csv')
full_data = [Training_data, Testing_data]

Training_data.head(2)

,ward,total_households,total_individuals,target_pct_vunerable,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,lan_11,lan_12,lan_13,lan_14,pg_00,pg_01,pg_02,pg_03,pg_04,lgt_00
0,9D9BEUB,13569.97801,39024.03083,1.739801,0.354806,0.004781,0.170498,0.007861,0.006796,0.023082,...,0.001723,0.027796,0,0.026727,0.524666,0.041460,0.394550,0.029031,0.010292,0.599259
1,RERH3XM,13593.88256,32879.94646,1.993381,0.262140,0.002066,0.077669,0.000597,0.000977,0.003759,...,0.041982,0.021312,0,0.015754,0.993900,0.001829,0.000854,0.000586,0.002832,0.699136

In [3]:
Testing_data.head(2)

,ward,total_households,total_individuals,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,lan_11,lan_12,lan_13,lan_14,pg_00,pg_01,pg_02,pg_03,pg_04,lgt_00
0,00A93O0,2514.04172,8037.06199,0.671962,0.061074,0.101516,0.006891,0.021287,0.015615,0.035974,...,0.00042,0.011485,0,0.063705,0.979272,0.009926,0.003224,0.002697,0.004882,0.521007
1,01V40KO,1829.71944,7494.86917,0.542857,0.390850,0.039623,0.000000,0.000000,0.000000,0.002633,...,0.00000,0.000160,0,0.000000,0.998938,0.000296,0.000301,0.000305,0.000160,0.693716

In [4]:
# Observe the Correlation to the Target Variable

#cst =Training_data.corr()['target_pct_vunerable'].copy()
#cst = cst.drop('target_pct_vunerable')
#cst.sort_values(inplace=True)
#cst.plot(kind='bar', alpha=0.6)

In [5]:
#specifying our target variable

target = ['target_pct_vunerable']

In [7]:
#extracting columns we want to use into a new dataframe ,features

features = Training_data[['total_households', 'total_individuals','dw_00', 'dw_01', 'dw_02', 'dw_03','dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08', 'dw_09','dw_10',
       'dw_11', 'dw_12','dw_13','psa_00', 'psa_01', 'psa_02','psa_03', 'psa_04', 'stv_00', 'stv_01', 'car_00',
       'car_01','lln_00', 'lln_01', 'lan_00', 'lan_01','lan_02', 'lan_03', 'lan_04','lan_05','lan_06','lan_07', 'lan_08',
       'lan_09', 'lan_10','lan_11', 'lan_12', 'lan_13', 'lan_14','pg_00', 'pg_01', 'pg_02', 'pg_03', 'pg_04', 'lgt_00']]

In [10]:
X = features
Y = Training_data[target]

In [9]:

#Training_data.drop(['ward'],inplace=True,axis=1)
#Testing_data.drop(['ward'],inplace=True,axis=1)

#converting columns to float
#Training_data[1:19] = Training_data[1:19].astype(float)
#Testing_data[1:19] = Testing_data[1:19].astype(float)

In [6]:
# Checking the missing values

missing_df = Training_data.isnull().sum(axis=0).reset_index()
missing_df.columns = ['Column Name', 'Missing Values Count']
missing_df['Filling Factor (%)']=(Training_data.shape[0]-missing_df['Missing Values Count'])/Training_data.shape[0]*100
missing_df.sort_values('Filling Factor (%)').reset_index(drop = True)

             Column Name  Missing Values Count  Filling Factor (%)
0       total_households                     0               100.0
1                 lln_00                     0               100.0
2                 lln_01                     0               100.0
3                 lan_00                     0               100.0
4                 lan_01                     0               100.0
5                 lan_02                     0               100.0
6                 lan_03                     0               100.0
7                 lan_04                     0               100.0
8                 lan_05                     0               100.0
9                 lan_06                     0               100.0
10                lan_07                     0               100.0
11                lan_08                     0               100.0
12                lan_09                     0               100.0
13                lan_10                     0               100.0
14                lan_11                     0               100.0
15                lan_12                     0               100.0
16                lan_13                     0               100.0
17                lan_14                     0               100.0
18                 pg_00                     0               100.0
19                 pg_01                     0               100.0
20                 pg_02                     0               100.0
21                 pg_03                     0               100.0
22                car_01                     0               100.0
23                 pg_04                     0               100.0
24                car_00                     0               100.0
25                stv_00                     0               100.0
26     total_individuals                     0               100.0
27  target_pct_vunerable                     0               100.0
28                 dw_00                     0               100.0
29                 dw_01                     0               100.0
30                 dw_02                     0               100.0
31                 dw_03                     0               100.0
32                 dw_04                     0               100.0
33                 dw_05                     0               100.0
34                 dw_06                     0               100.0
35                 dw_07                     0               100.0
36                 dw_08                     0               100.0
37                 dw_09                     0               100.0
38                 dw_10                     0               100.0
39                 dw_11                     0               100.0
40                 dw_12                     0               100.0
41                 dw_13                     0               100.0
42                psa_00                     0               100.0
43                psa_01                     0               100.0
44                psa_02                     0               100.0
45                psa_03                     0               100.0
46                psa_04                     0               100.0
47                stv_01                     0               100.0
48                lgt_00                     0               100.0

In [11]:
#splitting data to X and Y
#array = Training_data.values
#X = array[:, 1:49] #upto 18
#Y = array[:, 49]#target variable to be predicted
#Y = Y.astype('float')
#print(Y)

In [12]:

X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y, test_size=0.30, random_state=20)
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=324)


#picking one model
model = LinearRegression()
model.fit(X_train, Y_train)  #training process

#ask the model to predict the x test while hiding the y test from the model (unseen data)
#predictions = model.predict(X_test)
predictions = model.predict(X_test)

#in regression we always check the R squared and, absolute error squared


print("R squared(%):", r2_score(Y_test, predictions))
print("mean squared error:", mean_squared_error(Y_test, predictions))

R squared(%): 0.6740396843929477
mean squared error: 50.567174537307984

In [13]:
#Testing_data.head()

In [15]:
Training_data.shape

(3174, 48)

In [14]:
sampleSubmission = pd.read_csv('samplesubmissionv2.csv')
sampleSubmission.head(2)

      ward  target_pct_vunerable
0  00A93O0                   NaN
1  01V40KO                   NaN

In [15]:
sampleSubmission = sampleSubmission.drop(['target_pct_vunerable'], axis=1)

In [24]:
sampleSubmission['target_pct_vunerable'] = predictions

ValueError: Length of values does not match length of index

In [ ]:
sampleSubmission.to_csv('sampleSubmission.csv',index = False)
sampleSubmission.head()